/* Custom styles for the search form */
#lawyer-search-form {
    width: 580px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; 
}

.select2-selection{
    height: 34px !important;
}

#lawyer-search-form .form-group {
    position: relative;
    flex: 1;
    min-width: 150px; /* Ensure a minimum width */
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

#lawyer-search-form label {
    display: none;
}

#lawyer-search-form select {
    width: 100%;
    padding: 10px;
     appearance: none;
}

#lawyer-search-form select:disabled {
    background-color: #e9ecef;
}

#lawyer-search-form input[type="submit"] {
    background-color: #ff7a59;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto; /* Push the button to the right */
}

#lawyer-search-form input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Custom styles for the icons */
.icon-category, .icon-metro {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
}

/* Custom styles for Select2 */
.select2-container {
    width: 100% !important; /* Ensure Select2 dropdown is full width */
}

.select2-container--default .select2-selection--single {
    line-height: 32px !important;
    padding: 0 10px;
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36;
    right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px !important;
}

/* Additional styling for better visibility */
#lawyer-search-form .form-group select {
    padding-right: 40px; /* Ensure space for the icon */
}

#lawyer-search-form .form-group .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}
